body{
  color: white;
  
  
  
  
  
    --s: 220px; /* control the size */
    --c1: #1d1d1d;
    --c2: #000000;
    
    --_g:radial-gradient(#0000 60%,var(--c1) 61% 63%,#0000 64% 77%,var(--c1) 78% 80%,#0000 81%);
    --_c:,#0000 75%,var(--c2) 0;
    background:
      conic-gradient(at 12% 20% var(--_c)) calc(var(--s)* .44) calc(.9*var(--s)),
      conic-gradient(at 12% 20% var(--_c)) calc(var(--s)*-.06) calc(.4*var(--s)),
      conic-gradient(at 20% 12% var(--_c)) calc(.9*var(--s)) calc(var(--s)* .44),
      conic-gradient(at 20% 12% var(--_c)) calc(.4*var(--s)) calc(var(--s)*-.06),
      var(--_g),var(--_g) calc(var(--s)/2) calc(var(--s)/2) var(--c2);
    background-size: var(--s) var(--s);
  
  
  
  }
  
  
 .weatherCard{
  background-color: rgb(19, 19, 19);
  color: white;
  border:2px solid grey;
  scale: 1;
  padding: 20px;
  
 }

 .weatherCard:hover{
  border:4px solid #ec6e4c;
  scale: 1.05;
  background-color: rgb(44, 44, 44);
  transition: 0.05s ;
  
  .max{
    color: #ff5f57;
    transition: 0.5s ;
  };
  .min{
    color: #57b3ff;
    transition: 0.5s ;
  }
 }


.App {
  text-align: center;
  align-content: center;
  
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
