body{
  background-color: #4f5154;
  color: white;
  
  
  
  
    --s: 140px; /* control the size */
    
    --_g: #0000 52%,#170409 /* first color */ 54% 57%,#0000 59%; 
    background: 
     radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
     radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
     radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
     radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
     #3d3d44; /* second color */
    background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
  }
  
  
 .weatherCard{
  background-color: rgb(44, 44, 44);
  color: white;
  border:2px solid grey;
  scale: 1;
  padding: 20px;
  
 }

 .weatherCard:hover{
  border:2px solid rgb(87, 202, 255);
  scale: 1.05;
  background-color: rgb(0, 0, 0);
  transition: 0.05s ;
  
  .max{
    color: #ff5f57;
    transition: 0.5s ;
  };
  .min{
    color: #57b3ff;
    transition: 0.5s ;
  }
 }


.App {
  text-align: center;
  align-content: center;
  
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
