body{
  overflow-x: hidden;
  color: white;
  

    --s: 100px; /* control the size */
    --c1: #202020;
    --c2: #000000;
    
    --_g: 
       var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
       var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
    background:
      radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
      radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
      var(--c1);
    background-size: var(--s) var(--s);
  
  
  }
  
  

 .weatherCard{
  background-color: rgb(19, 19, 19);
  color: white;
  border:2px solid grey;
  scale: 0.9;
  padding: 10px;
  
 }

 .weatherCard:hover{
  border:3px solid #ec6e4c;
  background-color: rgb(19, 19, 19);
  scale: 0.95;
  background-color: rgb(44, 44, 44);
  transition: 0.05s ;
  
  .max{
    color: #ff5f57;
    transition: 0.5s ;
  };
  .min{
    color: #57b3ff;
    transition: 0.5s ;
  }
 }


.App {
  text-align: center;
  align-content: center;
  
  

}

.loginCard{
  background-color: rgb(19, 19, 19);
  border:2px solid grey;
  color: white;
  width: 40%;
  align-items: center;
  padding: 2%;
  margin: auto;
}

